/* ---------------------------------------------- */
/* 헤더                                            */

.header {
  width: 100%;
  height: 116px;
  border-bottom: 1px solid var(--color-gray-500);
  display: flex;
  padding-left: 450px;
}

.header__inner {
  width: 1020px;
  height: 100%;
}

.button--category {
  width: 110px;
  height: 116px;
  background-color: var(--color-blue-600);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  border: none;
  color: white !important;
}

.button--category img {
  margin-bottom: 12px;

}

.button--category:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px red;

  border-radius: 5px;
}

/* ---------------------------------------------- */


/* ---------------------------------------------- */
/* 내비게이션 */

.navigation {
  width: 540px;
  height: 500px;
  margin-left: 450px;
  box-shadow: 0px 4px 4px var(--color-gray-500);
  position: relative;
  visibility: hidden;
}

.is--active {
  color: var(--color-blue-600);
}

.is--active {
  visibility: visible !important;

}

#firstBox {
  width: 180px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  font-size: 12px;
}

.choiceLink {
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.link {
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400;
  color: black !important;
}


.secondBox {
  width: 180px;
  height: 500px;
  position: absolute;
  left: 180px;
  top: 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.secondBox::before {
  content: "";
  width: 1px;
  height: 100%;
  box-shadow: 2px 1px 1px 0px var(--color-gray-500);
  position: absolute;
  top: 0;
}

.thirdBox {
  width: 180px;
  height: 500px;
  position: absolute;
  margin-left: 180px;
  top: 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.thirdBox::before {
  content: "";
  width: 1px;
  height: 100%;
  box-shadow: 2px 1px 1px 0px var(--color-gray-500);
  position: absolute;
  top: 0;
}

/* ---------------------------------------------- */


/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */

/* is--active                                      */